*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80px;
  background:#072019;
}

.navbar h2{
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  padding: 0px 20px;
}

.navmenu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.navmenu li{
  display: inline-block;
}

.navmenu li a{
  color: #ffffff;
  margin-right: 20px;
  padding: 0px 10px;
  font-size: 18px;
  font-weight: 500;
}

.search-box .search{
  padding: 12px 8px;
  border-radius: 50px;
  font-size: 16px;
}

.navmenu .search-box i{
  color: #ffffff;
  position: relative;
  right: 18%;
  top: 2px;
  background-color: #0b910b;
  padding: 12px;
  border-radius: 50px;
}

header{
  background: #e7f0f3ac;
  width: 100%;
  height: 100vh;
}

.main-header{
  width: 75%;
  margin: auto;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-header h2{
  font-size: 40px;
  width: 340px;
  margin-top: 10px;
  margin-bottom: 24px;
}

.main-header p{
  margin-bottom: 60px;
}

.main-header .btn{
  background: #0b910b;
  border: 1px solid #0b910b;
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
  padding: 12px 30px;
  border-radius: 50px;
  transition: all .5s;
}

.main-header .btn:hover{
  color: #0b910b;
  background: #ffffff;
}

.main-header img{
  width: 460px;
  height: auto;
}

.menubar i{
  color: #ffffff;
  font-size: 30px;
  padding-right: 20px;
  position: absolute;
  top: 22px;
  right: 40px;
  cursor: pointer;
}

.small-container{
  max-width: 1000px;
  margin: auto;
  padding-left: 25px;
  padding-right: 20px;
}

.row{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.single-product{
  margin-top: 80px;
}

.col-2 img{
  max-width: 100%;
  padding: 50px 0;
}

.single-product .col-2 img{
  padding: 0;
}

.single-product .col-2{
  padding: 20px;
}

.image-border {
  border: 2px solid black;
}


.col-2{
  flex-basis: 50%;
  padding: 0 20px;
}

.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.single-product h4{
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.single-product input{
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;
}

input:focus{
  outline: none;
}

a{
  text-decoration: none;
  color: #555;
}

.single-product .fa{
  color: #ff523b;
  margin-left: 10px;
}

p{
  color: #555;
}

.btn{
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 36px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover{
  background: #563434;
}

footer{
  background-color: #ffffff;
  padding: 26px 20px;
  text-align: center;
  font-size: 20px;
}



@media(max-width:991px){
  .navmenu{
    display: block;
    position: absolute;
    right: 100%;
    top: 10%;
    width: 300px;
    height: auto;
    background: #072019;
  }

  .navmenu li{
    display: block;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .search-box{
    text-align: center;
    margin-left: 40px;
    margin-bottom: 30px;
  }

  .navmenu.open{
    right: 0;
  }
}