*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80px;
  background:#072019;
}

.navbar h2 a{
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  padding: 0px 20px;
}

.navbar h2:hover a {
  color: #0b910b;
  transition: color 0.5s ease;
}

.navmenu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.navmenu li{
  display: inline-block;
  position: relative;
  padding: 0 10px;
}

.navmenu li::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  right: 100%;
  width: 0;
  height: 2px;
  background-color: green;
  transition: width 0.3s ease;
}

.navmenu li:hover::before {
  width: 75%;
}

.navmenu li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1;
  width: 1px;
  height: 80%;
  background-color: #ffffff;
  transform: translateY(-50%);
  z-index: -1;
}

.navmenu li a{
  color: #ffffff;
  margin-right: 20px;
  padding: 0px 10px;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  z-index: 1;
}

.navmenu li:hover a {
  color: #0b910b;
  transition: color 0.5s ease;
}

.search-box .search{
  padding: 12px 8px;
  border-radius: 50px;
  font-size: 16px;
}

.navmenu .search-box i{
  color: #ffffff;
  position: relative;
  right: 18%;
  top: 2px;
  background-color: #0b910b;
  padding: 12px;
  border-radius: 50px;
}

.menu div{
  width: 120px;
  height: 10px;
  margin: -30px;
  position: absolute;
  color: #ffffff;
  font-size: 30px;
  padding-right: 20px;
  top: 60px;
  right: 22px;
  cursor: pointer;
}

.menu span{
  background: #ffffff;
  width: 20%;
  height: 5px;
  border-radius: 5px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  transition: transform 0.5s, width 0.5s;
}

.menu .line-1{
  transform: translate(-50%, -5px);
}

.menu .line-3{
  transform: translate(-50%, 10px);
}

.menu:hover span {
  background-color: #0b910b;
  transition: 0.5s ease;
}

.openmenu .line-1{
  transform: translate(-50%, -50%) rotate(-45deg);
}

.openmenu .line-3{
  transform: translate(-50%, -50%) rotate(45deg);
}

.openmenu .line-2{
  width: 0;
}

.menubar:hover i{
  color: #0b910b;
  transition: color 0.5s ease;
}

.small-container{
  max-width: 1000px;
  margin: auto;
  padding-left: 25px;
  padding-right: 20px;
}

.row{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.single-product{
  margin-top: 80px;
}

.col-2 img{
  max-width: 100%;
  padding: 50px 0;
  border: 2px solid black;
}

.single-product .col-2 img{
  padding: 0;
}

.single-product .col-2{
  padding: 20px;
}

.col-2{
  flex-basis: 50%;
  padding: 0 20px;
}

.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

#cartMessage {
  color: green;
  font-weight: bold;
  display: none;
}

#cartQuantity {
  margin-top: 10px;
}

.single-product h4{
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.single-product input{
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid black;
}

input:focus{
  outline: none;
}

a{
  text-decoration: none;
  color: #555;
}

.single-product .fa{
  color: #0b910b;
  margin-left: 10px;
}

p{
  color: #555;
}

.btn{
  display: inline-block;
  background: #0b910b;
  color: #ffffff;
  padding: 8px 36px;
  margin: 30px 0;
  border-radius: 30px;
  transition: all 0.5s ease;
}

.btn:hover{
  color: #0b910b;
  background: #ffffff;
  transition: all 0.5s;
  border: 2px solid #0b910b;
}

footer{
  background-color: #ffffff;
  padding: 26px 20px;
  text-align: center;
  font-size: 20px;
}

@media(max-width:991px){
  .navmenu{
    display: block;
    position: absolute;
    right: 100%;
    top: 10%;
    width: 300px;
    height: auto;
    background: #072019;
    transition: right 0.5s ease;
  }

  .navmenu li{
    display: block;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .search-box{
    text-align: center;
    margin-left: 40px;
    margin-bottom: 30px;
  }

  .navmenu.open{
    right: 0;
  }

  .navmenu li:hover::before {
    width: 30%;
    transform:translate(100%);
    transition: 0.5s ease;
 }
}