*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80px;
  background:#072019;
}

.navbar h2 a{
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  padding: 0px 20px;
}

.navbar h2:hover a {
  color: #0b910b;
  transition: color 0.5s ease;
}

.navmenu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.navmenu li{
  display: inline-block;
  position: relative;
  padding: 0 10px;
}

.navmenu li::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  right: 100%;
  width: 0;
  height: 2px;
  background-color: green;
  transition: width 0.3s ease;
}

.navmenu li:hover::before {
  width: 75%;
}

.navmenu li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1;
  width: 1px;
  height: 80%;
  background-color: #ffffff;
  transform: translateY(-50%);
  z-index: -1;
}

.navmenu li a{
  color: #ffffff;
  margin-right: 20px;
  padding: 0px 10px;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  z-index: 1;
}

.navmenu li:hover a {
  color: #0b910b;
  transition: color 0.5s ease;
}

.search-box .search{
  padding: 12px 8px;
  border-radius: 50px;
  font-size: 16px;
}

.navmenu .search-box i{
  color: #ffffff;
  position: relative;
  right: 18%;
  top: 2px;
  background-color: #0b910b;
  padding: 12px;
  border-radius: 50px;
}

header{
  background: #e7f0f3ac;
  width: 100%;
  height: 100vh;
}

.main-header{
  width: 75%;
  margin: auto;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-header h5{
  font-size: 22px;
  color: #0b910b;
  font-weight: 550;
}

.main-header h2{
  font-size: 40px;
  width: 340px;
  margin-top: 10px;
  margin-bottom: 24px;
}

.main-header p{
  margin-bottom: 60px;
}

.main-header .btn{
  background: #0b910b;
  border: 1px solid #0b910b;
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
  padding: 12px 30px;
  border-radius: 50px;
  transition: all .5s;
}

.main-header .btn:hover{
  color: #0b910b;
  background: #ffffff;
}

.main-header img{
  width: 560px;
  height: auto;
}

.cat-header{
  text-align: center;
  padding: 20px 0;
}

section{
  width: 95%;
  margin: auto;
  padding-bottom: 150px;
}

.cat-header h2{
  font-size: 38px;
  padding-bottom: 14px;
}

.cat-books{
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.cat-books .books{
  width: 360px;
  height: auto;
  padding: 20px 30px;
  position: relative;
}

.cat-books .books .book-img{
  background-color: #e7f0f3ac;
  padding: 18px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  position: relative;
  left: 35%;
}

.cat-books .books img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  border-radius: 50%;
}

.cat-books .books img:hover{
  transform: scale(1.2);
}

.cat-books .books h4{
  margin-top: 16px;
  font-size: 22px;
  position: relative;
  left: 5%;
}

.cat-books .books p{
  font-size: 18px;
  padding-top: 10px;
}

.menu div{
  width: 120px;
  height: 10px;
  margin: -30px;
  position: absolute;
  color: #ffffff;
  font-size: 30px;
  padding-right: 20px;
  top: 60px;
  right: 22px;
  cursor: pointer;
}

.menu span{
  background: #ffffff;
  width: 20%;
  height: 5px;
  border-radius: 5px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  transition: transform 0.5s, width 0.5s;
}

.menu .line-1{
  transform: translate(-50%, -5px);
}

.menu .line-3{
  transform: translate(-50%, 10px);
}

.menu:hover span {
  background-color: #0b910b;
  transition: 0.5s ease;
}

.openmenu .line-1{
  transform: translate(-50%, -50%) rotate(-45deg);
}

.openmenu .line-3{
  transform: translate(-50%, -50%) rotate(45deg);
}

.openmenu .line-2{
  width: 0;
}

.menubar:hover i{
  color: #0b910b;
  transition: color 0.5s ease;
}

.set-row{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 75%;
  margin: auto;
}

.set-row img{
  width: 680px;
  height: auto;
}

#about{
  background: #e7f0f3ac;
  width: 100%;
  padding: 80px 0px;
}

.set-row .about-content{
  padding-left: 30px;
  margin-bottom: 60px;
  margin-left: -30px;
}

.set-row .about-content h2{
  font-size: 42px;
  padding-bottom: 20px;
}

.set-row .about-content p{
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 46px;
}

.set-row .about-content .btn2{
  background: #0b910b;
  border: 1px solid #0b910b;
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
  padding: 12px 30px;
  border-radius: 50px;
  transition: all 0.5s;
}

.set-row .about-content .btn2:hover{
  background: #ffffff;
  color: #0b910b;
}

.blog-header{
  text-align: center;
  font-size: 35px;
  padding: 40px 0;
}

.set-row .col{
  padding-top: 20px;
  width: 480px;
  position: relative;
}

.set-row .col img{
  width: 100%;
}

.set-row .col h4{
  font-size: 24px;
  padding: 12px 0;
  margin-top: 14px;
}

.set-row .col p{
  font-size: 18px;
  padding-bottom: 12px;
}

.set-row .col a{
  font-size: 20px;
  color: #000;
}

.set-row .col a:hover{
  color: #0b910b;
}

.set-row .col .dates{
  position: absolute;
  top: 55%;
  left: 5%;
}

.set-row .col .dates span{
  background: #0b910b;
  color: #ffffff;
  padding: 12px 20px;
  font-size: 20px;
  border-radius: 50px;
  margin-left: -25px;
}

.set-row .col .dates span:hover{
  background: #ffffff;
  color: #0b910b;
  transition: all 0.5s;
  cursor: pointer;
  border: 1px solid #0b910b;
}

#contactus{
  background: #e7f0f4ac;
  width: 100%;
}

.contact-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: auto;
  padding-top: 40px;
}

.contact-row form{
  width: 450px;
  padding: 12px 0;
}

.contact-row form input, textarea{
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding: 6px 0;
  text-indent: 10px;
  font-size: 18px;
  background-color: #e7f0f3ac;
}

.contact-row form input::placeholder,
textarea::placeholder{
  color: grey;
}

.contact-row form input[type="submit"]{
  text-align: center;
  height: 50px;
  cursor: pointer;
  background-color: #0b910b;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  outline: none;
  margin-top: 10px;
}

.contact-row form input[type="submit"]:hover{
  border: 1px solid #0b910b;
  color: #0b910b;
  background: #ffffff;
  transition: all 0.5s ease;
}

.contact-row .col img{
  width: 450px;
  height: auto;
  padding-left: 20px;
  margin-left: -20px;
}

.contact-row.col h2{
  font-size: 24px;
  font-weight: 600;
}

footer{
  background-color: #ffffff;
  padding: 26px 20px;
  text-align: center;
  font-size: 20px;
}

@media(max-width:1420px){
  .set-row{
    display: block;
  }

  .contact-row{
    display: block;
  }
}

@media(max-width:991px){
  .navmenu{
    display: block;
    position: absolute;
    right: 100%;
    top: 10%;
    width: 300px;
    height: auto;
    background: #072019;
    transition: right 0.5s ease;
  }

  .navmenu li{
    display: block;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .search-box{
    text-align: center;
    margin-left: 40px;
    margin-bottom: 30px;
  }

  .navmenu.open{
    right: 0;
  }

  .navmenu li:hover::before {
    width: 30%;
    transform:translate(100%);
    transition: 0.5s ease;
}

  .cat-books .books .book-img{
    position: relative;
    left: 25%;
  }

  .main-header h2{
    font-size: 35px;
  }

  .main-header p{
    padding-bottom: 20px;
  }

  .set-row{
    display: block;
  }

  .set-row img{
    width: 400px;
    height: auto;
  }

  .set-row .col{
    padding-top: 20px;
    width: 380px;
    position: relative;
  }

  .set-row img{
    width: 480px;
    height: auto;
  }

  .set-row .col{
    width: 420px;
  }

  .set-row .col img{
    width: 100%;
  }

  .set-row .col .dates{
    position: absolute;
    top: 60%;
    left: 5%;
  }

  .contact-row form{
    width: 350px;
  }

  .contact-row .col img{
    width: 430px;
    height: auto;
    padding-left: 0px;
  }


}

@media(max-width:890px){
  .main-header{
    width: 100%;
    display: block;
    align-items: center;
    text-align: center;
    margin: 60px 0;
  }

  .main-header h2{
    width: 100%;
  }

  .main-header p{
    margin-bottom: 20px;
  }

  .main-header img{
    width: 360px;
    height: auto;
    margin-top: 30px;
  }

  .search-box .about-content h2{
    font-size: 28px;
    padding-bottom: 20px;
  }

  .set-row .about-content p{
    width: 300px;
  }

  .cat-books{
    display: block;
    position: relative;
    left: 10%;
  }

  .cat-books .books .book-img{
    position: relative;
    left: 35%;
  }

  .cat-books .books img{
    width: 100%;
  }

  .set-row .col{
    width: 350px;
  }

  .set-row .col .dates{
    position: absolute;
    top: 25px;
    left: 5%;
  }

  .contact-row .col img{
    width: 350px;
    height: auto;
    padding-left: 0px;
    margin-left: 0px;
  }

  .contact-row form input{
    height: 20px;
  }
}

@media(max-width:460px){
  section{
    padding-top: 80px;
  }

  .main-header img{
    width: 260px;
  }

  .cat-books .books{
    width: 260px;
  }

  .cat-books .books .book-img{
    position: relative;
    left: 25%;
  }

  .set-row img{
    width: 330px;
    height: auto;
  }

  .set-row .col{
    width: 280px;
  }
}